html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-header-text th {
    color: #dfe1e6 !important;
}

#banner1 {
    background-image: url('https://img.goodfon.com/original/1920x1080/4/32/taiwan-tayvan-taybey.jpg');
    background-size: cover; /* This makes the image cover the entire section */
    background-position: center; /* Centers the image */
    height: 70vh; /* Takes full viewport height */
    width: 100%; /* Ensures the section takes full width */
    display: flex; /* Use flexbox to center content vertically */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    color: white; /* Text color for visibility */
    text-align: center; /* Center text */
    position: relative; /* Allows positioning of content if needed */
    overflow: hidden; /* Hides any overflow if necessary */
}
